@using Modul2ParcijalniTest.SqlFacade
@model Modul2ParcijalniTest.ViewModels.SortInvoicesViewModel;
@{
    Layout = null;
}

<html>
<head>
    <style type="text/css">
        .searchContainer {
            display: inline-block;
        }

    </style>
    <title>Sortiranje uplatnica</title>
</head>

<body>
    @using (Html.BeginForm("SortInvoices", "Invoice", FormMethod.Post))
    {
        <p class="searchContainer">Transant:</p>
        @Html.TextBoxFor(x => x.Invoice.Payer)

        <br />

        <p>
            Iznos od:
            @Html.TextBoxFor(x => x.PriceFrom)
            do:
            @Html.TextBoxFor(x => x.PriceTo)
        </p>

        <p class="searchContainer">Datum:</p>
        @Html.TextBoxFor(x => x.Invoice.Date)

        <br />
        <button type="submit">Sortiraj</button>
    }

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Iznos uplate</th>
            <th>Datum prometa</th>
            <th>Svrha uplate</th>
            <th>Hitno</th>
        </tr>

        @foreach (Invoice uplatnica in Model.InvoiceList)
        {
            <tr>
                <td>@uplatnica.Payer</td>
                <td>@uplatnica.PaymentAmount</td>
                <td>@uplatnica.Date.ToString("MM/dd/yyyy")</td>
                <td>@uplatnica.PaymentPurpose</td>
                @if (uplatnica.Urgent)
                {
                    <td>Da</td>
                }
                else
                {
                    <td>Ne</td>
                }
            </tr>
        }

    </table>

    <hr />

    @Html.ActionLink("Povratak na glavnu stranu","Index","Bill")

</body>

</html>